<body>


<h1 align="center">Study list for <%= @studylist.topic %></h1>



<h2>Below are the completed study sessions associated with this <%= @studylist.topic %> study list:</h2>
<br>

<% if @studylist.sessions.count == 0 %>
<h3>You have no study sessions yet for this study list.</h3>
<% else %>
<% @studylist.sessions.each do |session| %>
<a href="/studylists/<%= @studylist.id %>/sessions/<%= session.id %>"> <%= session.time_studied %><br>
<ul>
<li><%= session.date_completed.strftime("%m-%d-%Y") %></li>
</ul>
<%= session.notes %><br><br></a>
<br>


<% end %>
<% end %>



<br>
<br>
<a href="/studylists/<%= @studylist.id %>/sessions/new"><button>Add a study session to this study list</button></a>
<br><br>
<h5>To edit or delete a study session, click into that created session.</h5>
<br><br><br>
<a href="/users/index"><button>Back to homepage</button></a>


</body>

